.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/*.map
**/*.ts
!dist/**/*
!src/css/**/*
.eslintrc.json
.gitattributes
.editorconfig
.trunk/**
